[Unit]
Description=Odoo 19 Application for tkterp
After=tkterp-db.service
Requires=tkterp-db.service

[Container]
Image=docker.io/library/odoo:19.0
ContainerName=tkterp-app
EnvironmentFile=%d/.env
# Host Path mappings:
Volume=%d/odoo.conf:/etc/odoo/odoo.conf:Z
Volume=%d/tkterp_addons:/mnt/extra-addons:Z
Volume=%d/tkterp-data:/var/lib/odoo:Z
Network=tkterp-net.network
# No public port here - Odoo is now accessed via the Nginx proxy (tkterp-proxy)

[Install]
WantedBy=default.target
